form {
  font-family: "Roboto", sans-serif;
}

.form-login {
  width: 50%;
}

.form-ficha {
  width: 100%;
}

.form-ficha .form-control {
  width: 80%
}

.form-control {
  padding: 15px 10px;
  width: 100%;
  margin-top: 4px;
  font-family: inherit;
  outline: none;
  color: gray;
  border: 1px solid #cacaca;
  transition: box-shadow .2s;
}

.form-control:focus {
  box-shadow: 0 0 10px 3px rgb(184, 184, 184);
}

.form-group label:not(.btn) {
  color: #555;
}

textarea.form-control {
  height: 200px;
  resize: none;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group div {
  margin-right: 30px;
  flex: 1;
}

.form-group .form-control {
  width: 100%;
}
